
body{
    background-color: #E8E8E8;
}

#nav{
    background-color: #780000;
    top: 0px;
    left: 0px;
    position: fixed;
    width: 500px;
    height: 100%;
    box-shadow:  0 0 10px 1px #780000 ;
}

#content{
        background-color: #E8E8E8;
        position: absolute;
        top: 0px;
        margin-left: 43%;
        width: 700px;
        height: 100%;
        float: left;
}

#submit{
    background-color: #780000;
    position: absolute;
    width: 200px;
    height: 30px;
}

#submit:hover{
    cursor: pointer;
}

#submitText{
    color: white;
    size: 20px;
    margin-top: 4px;
    margin-left: 70px;
    font-weight: bold;
}

h1{
    font-family: jura;
}

p{
    font-family: nexa;
}

@font-face {
    font-family: "nexa";
    src: url("/WWB/fonts/nexa.otf") format("opentype"); /* Other browsers */
}

@font-face {
    font-family: "jura";
    src: url("/WWB/fonts/jura.ttf") format("truetype"); /* Other browsers */
}

.links{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
}

#links2{
    margin-top: 105%;
    margin-left: 5%;    
}

li{
    list-style: none;
    display: inline;
    text-decoration: none;      
    font-family:"jura";
    
}

#logo{
    position: absolute;
    margin-top: 45%;
    margin-left: 15%;
}