
body{
    background-color: #E8E8E8;    ;
}

#nav{
    background-color: #780000;
    top: 0px;
    left: 0px;
    position: fixed;
    width: 500px;
    height: 100%;
    box-shadow:  0 0 10px 1px #780000 ;
}

#content{
        background-color: #E8E8E8;
        position: absolute;
        top: 0px;
        margin-left: 43%;
        width: 700px;
        height: 100%;
        float: left;
}

@font-face {
    font-family: "code";
    src: url("/WWB/fonts/code.otf") format("opentype"); /* Other browsers */
}

@font-face {
    font-family: "jura";
    src: url("/WWB/fonts/jura.otf") format("truetype"); /* Other browsers */
}

h1{
    font-family: "code";
    font-size: 30px;
}

p{
    font-family: "jura";
}

#login{
    background-color: #780000;
    position: absolute;
    margin-top: 15px;
    width: 100px;
    height: 30px;
}

#login:hover{
    cursor: pointer;
}

#loginText{
    color: white;
    size: 20px;
    margin-top: 4px;
    margin-left: 30px;
    font-weight: bold;
}

#loginContent{
    margin-top: 80px;
}

.links{
    color: white;
    text-decoration: none;
}

#links1{
    margin-top: 105%;
    margin-left: 16.5%;    
}

li{    
    list-style: none;
    display: inline;    
    margin-left: 10px;        
    font-family:"jura";
    font-size: 20px;
}

#logo{
    position: absolute;
    margin-top: 45%;
    margin-left: 15%;
}







